window {
  background-color: #1e1e2e;
  border: 2px solid #89b4fa;
  border-radius: 10px;
}

#input {
  background-color: #313244;
  color: #cdd6f4;
  border-radius: 6px;
  margin: 6px;
}

#entry:selected {
  background-color: #45475a;
}

#text {
  color: #cdd6f4;
}
